body{
    font-family: 'Roboto',Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.6;
}
img {
    max-width: 100%;
}
h1{
    font-size: 38px;
    margin-bottom: 50px;
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: bold;
    color: black;
}
h2{
    font-size: 22px;
    margin-bottom: 10px;
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: bold;
}
html{
    box-sizing: border-box;
}
a{
    color: #212121;
    font-weight: bold;
    font-size: 15px;   
}
a:-webkit-any-link {
              
    text-decoration: none;
}
.container{
 width: 992px;
 padding-left: 10%;
 padding-right: 10%;
}







.featured-section{
    margin-top: 50px;
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        .home-img{
            max-height: 200px;
            min-height: 200px;
        }
        .product-price{
            color: #212121;
            font-weight: bold;
            font-size: 15px;   
        }
        
    }

    h1{
        margin-bottom: 20px;
        margin-top: 30px;
    }
}

// 
.hotfav-section{
  
    margin-top: 50px;
    h1{
            margin-bottom: 50px;
            margin-top: 50px;
    }
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
        .home-img{
            max-height: 200px;
            min-height: 200px;
        }
        .product-price{
            color: #212121;
            font-weight: bold;
            font-size: 15px;   
        }
    }
}
// .hotfav-section 
.blog-section{
    margin-top: 50px;
    background-color: #D3D3D3;
    border-top: 1px solid #909090;
    h1{
        padding-top: 50px;
    }
    .section-description-blog{
            width: 80%;
            margin: auto;
        }
        .blog-posts{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-gap: 20px;
                margin-top: 30px;
                padding-left: 10%;
                padding-bottom: 5%;
                width: 80%;
            }
}



