ul.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
  }
  .sidebar .no-bullets li.active{
    // color: #fff;
    // font-family: 'Courier New', Courier, monospace;
    // font-style: italic;
    // font-weight: 600;
    // background-color: #80000000;
    
    background: lighten($color: #000000, $amount: 90);
    margin-right: 50%;
    
    
}

.products-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin: 80px auto 80px;

    
    .products {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 60px $gutter;
        .products-image{
            max-height: 200px;
            min-height: 200px;
        }
        .product-price{
            color: #212121;
            font-weight: bold;
            font-size: 15px; 
        }
    }
    .products-header{
        display: flex;
        justify-content: space-between;
    }
    
}
