.product-section {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 1%;
    padding-right: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 120px;
}

.product-section-image {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #909090;
    padding: 4%;
    text-align: center;
    .single-product-image{
        max-height: 300px;
        min-height: 300px;
    }
    
}

.product-section-information {
  
    .product-section-title {
        font-size: 38px;
    margin-bottom: 3%;
    font-family: 'Montserrat',Arial,sans-serif;
    font-weight: bold;
    color: black;
    }
    .product-section-subtitle {
        font-family: 'Montserrat',Arial,sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2%;
        // text-align: center;
    }
    .product-section-price {
        font-family: 'Montserrat',Arial,sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 2%;
        // text-align: center;
    }
    
    
    a:hover{
        color: white;
        
    }

}


