// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 18;
$font-weight:300;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
// $textcolor: #212121;

$text-color: #212121;
$text-color-light: #919191;
$white: #e9e9e9;
$gray-background: #535353;
$light-gray-background: #D3D3D3;
$separator-color: #CDCDCD;
$heart: #FFBABA;
$primary: #3EBFA4;
$gutter: 30px;
$cart-count: #FFD94D;
