/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
    header{
        .top-nav{
            flex-direction: column;
       
            .logo{
            margin: auto;
            }
            ul{
            margin: 20px auto 0;
            width: 70%;
            text-align: center;
          
            }
        }
        .sub-nav{
            ul{
                margin: auto ;
                width: 70%;
                margin-bottom: 20px;
            }
        }
        .hero{
            grid-template-columns: 1fr;
            text-align: center;
            grid-gap: 20px;
            h1{
                margin: auto;
                margin-top: 20%;
            }
            .searchbar{
                text-align: center;
                margin: auto;
                margin-top: 10%;
               
                padding-left: 12%;
            }
            .hero-buttons{
                margin: auto;
                margin-top: 10%;
                padding-right: 10%;
                padding-left: 10%;
            }
            .hero-image{
                margin-right: 0;
                margin-top: 5%;
            }
        }
        
        
    }

    .breadcrumbs {
        text-align: center;
    }

    .products-section {
        grid-template-columns: 1fr;

        // .sidebar {
        //     text-align: center;
        // }

        .products {
            grid-template-columns: 1fr;
        }
    }

    .product-section {
        grid-template-columns: 1fr;
    }

    .might-like-section .might-like-grid {
        grid-template-columns: 1fr;
    }

    .cart-section {

        grid-template-columns: 1fr;

        .cart-buttons {
            flex-direction: column;
            text-align: center;
        }

        .cart-table-row {

            .cart-table-row-left {
                width: 30%;
            }

            .cart-table-row-right {
                width: 55%;
            }

            img {
                display: none;
            }

        }
        .have-code-container {
            width: 100%;
        }


        .cart-totals {
            flex-direction: column;

            .cart-totals-left {
                width: 100%;
                margin-bottom: 20px;
            }

            .cart-totals-right {
                width: 100%;
            }
        }

    }


    .checkout-section {
        grid-template-columns: 1fr;

        .checkout-table-container {
            margin-left: 10px;
        }
    }

    .featured-section{
        // padding: 50px 0;
        .products{
            grid-template-columns: 1fr 1fr;
        }
    }
    .hotfav-section{
        .products{
            grid-template-columns: 1fr 1fr;
        }
    }
    .blog-section{
        .blog-posts{
            grid-template-columns: 1fr;
        }
    }
    footer .footer-content{
            flex-direction: column;
            ul{
                
                width: 40%;
                margin: 5% auto;
                text-align: center;
                padding:0;
            }
            .made-with{
                text-align: center;
                margin: auto;
                margin-bottom: 5%;

            }
        }
    }


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    header{
        .top-nav{
            flex-direction: column;
        }
    }

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

}
