.might-like-section {
    padding: 4%;
    background: $light-gray-background;

    .might-like-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 30px;
        .might-like-product {
            border: 1px solid #909090;
            background:  $light-gray-background;
            padding: 30px 0 20px;
            text-align: center;
    
            img {
                width: 70%;
                height: 170px;
            }
    }

    
    }
}