// *{
// 	margin: 0;
// 	padding: 0;
// 	outline: none;
// 	box-sizing: border-box;
// 	font-family: 'Comfortaa', cursive;
// }

// body{
// 	background: url('https://i.imgur.com/NMnbn2s.jpg') no-repeat center;
// 	background-size: cover;
// 	width: 100%;
// 	height: 100vh;
// }
.wp-wrapper{
    padding: 10%;
}
.wrapper{
	
   
    background: rgba(0, 0, 0,0.6);
    
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.wrapper .input {
    width:75%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    padding-top: 2%;
    
    
}

.searchbtn .fas{
	// position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 18px;
}