  
.sidebar {
    h3 {
        font-weight: bold;
        margin-bottom: 16px;
    }

    ul {
        line-height: 2;
        margin-bottom: 20px;
    }
    li{
        padding-left: 5%;
        // .active{
        //     font-weight: lighter;
        // }
        
    }
}