@import url(https://fonts.googleapis.com/css?family=Nunito);header .top-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 0;
}

header .top-nav .logo {
  font-size: 20px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  color: black;
  padding-left: 15px;
  text-transform: uppercase;
}

header .top-nav ul {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  width: 35%;
  padding-right: 5%;
  padding-top: 0.5%;
  padding-left: 0;
  margin-left: 0;
}

header .top-nav ul a {
  color: #212121;
  font-weight: bold;
  font-size: 15px;
}

header .top-nav ul a:hover {
  color: #80000000;
}

header .top-nav .cart-count {
  display: inline-block;
  background: #FFD94D;
  color: #212121;
  line-height: 0;
  border-radius: 50%;
  font-size: 14px;
}

header .top-nav .cart-count span {
  display: inline-block;
  padding-top: 50%;
  padding-bottom: 50%;
  margin-left: 6px;
  margin-right: 6px;
}

header .sub-nav ul {
  display: flex;
  text-transform: uppercase;
  justify-content: space-between;
  width: 45%;
  padding-right: 5%;
  margin-left: 0;
  padding-left: 0;
}

header .sub-nav ul a {
  color: #212121;
  font-weight: bold;
  font-size: 15px;
}

header .sub-nav ul a:hover {
  color: #080808;
}

header .hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding-top: 20px;
  padding-bottom: 80px;
  background: url("/storage/imgs/3040791.jpg");
  background-size: cover;
}

header .hero h1 {
  margin-top: 20%;
  margin-left: 10%;
  padding-left: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 45px;
}

header .hero .hero-buttons {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 15%;
  margin-bottom: 15%;
}

header .hero .hero-image {
  margin-top: 20%;
  margin-right: 10%;
}

header .basehero {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #D3D3D3;
  display: flex;
  justify-content: space-around;
}

header .basehero .join {
  width: 30%;
  margin-right: 15%;
  vertical-align: middle;
  padding-top: 2%;
}

header .basehero .basetext {
  text-transform: uppercase;
  margin-left: 15%;
  padding-top: 2px;
}

body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 38px;
  margin-bottom: 50px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 22px;
  margin-bottom: 10px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
}

html {
  box-sizing: border-box;
}

a {
  color: #212121;
  font-weight: bold;
  font-size: 15px;
}

a:-webkit-any-link {
  text-decoration: none;
}

.container {
  width: 992px;
  padding-left: 10%;
  padding-right: 10%;
}

.featured-section {
  margin-top: 50px;
}

.featured-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.featured-section .products .home-img {
  max-height: 200px;
  min-height: 200px;
}

.featured-section .products .product-price {
  color: #212121;
  font-weight: bold;
  font-size: 15px;
}

.featured-section h1 {
  margin-bottom: 20px;
  margin-top: 30px;
}

.hotfav-section {
  margin-top: 50px;
}

.hotfav-section h1 {
  margin-bottom: 50px;
  margin-top: 50px;
}

.hotfav-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.hotfav-section .products .home-img {
  max-height: 200px;
  min-height: 200px;
}

.hotfav-section .products .product-price {
  color: #212121;
  font-weight: bold;
  font-size: 15px;
}

.blog-section {
  margin-top: 50px;
  background-color: #D3D3D3;
  border-top: 1px solid #909090;
}

.blog-section h1 {
  padding-top: 50px;
}

.blog-section .section-description-blog {
  width: 80%;
  margin: auto;
}

.blog-section .blog-posts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-top: 30px;
  padding-left: 10%;
  padding-bottom: 5%;
  width: 80%;
}

ul.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.sidebar .no-bullets li.active {
  background: #e6e6e6;
  margin-right: 50%;
}

.products-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 80px auto 80px;
}

.products-section .products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px 30px;
}

.products-section .products .products-image {
  max-height: 200px;
  min-height: 200px;
}

.products-section .products .product-price {
  color: #212121;
  font-weight: bold;
  font-size: 15px;
}

.products-section .products-header {
  display: flex;
  justify-content: space-between;
}

.product-section {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 1%;
  padding-right: 1%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
}

.product-section-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #909090;
  padding: 4%;
  text-align: center;
}

.product-section-image .single-product-image {
  max-height: 300px;
  min-height: 300px;
}

.product-section-information .product-section-title {
  font-size: 38px;
  margin-bottom: 3%;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: bold;
  color: black;
}

.product-section-information .product-section-subtitle {
  font-family: "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2%;
}

.product-section-information .product-section-price {
  font-family: "Montserrat", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 2%;
}

.product-section-information a:hover {
  color: white;
}

footer {
  background-color: #404040;
  color: #fff;
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding-left: 5%;
  padding-top: 2%;
  padding-right: 5%;
}

footer .footer-content ul {
  display: flex;
  justify-content: space-between;
  width: 25%;
}

footer .footer-content a {
  color: white;
}

footer .footer-content .made-with {
  margin-top: 1%;
}

.breadcrumbs {
  background: #D3D3D3;
  border-bottom: 1px solid #CDCDCD;
  padding: 24px 0;
}

.breadcrumbs .sidemargin {
  margin-left: 1%;
}

.breadcrumbs .breadcrumb-separator {
  font-size: 14px;
  color: #545454;
}

.button {
  border: 1px solid #212121;
  padding: 12px 40px;
}

.button:hover {
  color: #e9e9e9;
  background: #212121;
}

.button-white {
  border: 1px solid #e9e9e9;
  color: #e9e9e9 !important;
}

.button-white:hover {
  color: #212121 !important;
  background: #e9e9e9;
}

.button-primary {
  background: #3EBFA4;
  color: white !important;
  padding: 12px 40px;
}

.button-primary:hover {
  background: #35a48d;
}

.button-primary:disabled {
  background: #63cdb7;
  cursor: not-allowed;
}

.button-plain {
  border: 1px solid #212121 !important;
  background: transparent;
}

.button-container {
  margin: 80px 0;
}

.section-description {
  width: 80%;
}

.sidebar h3 {
  font-weight: bold;
  margin-bottom: 16px;
}

.sidebar ul {
  line-height: 2;
  margin-bottom: 20px;
}

.sidebar li {
  padding-left: 5%;
}

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #f4f4f4;
  border-color: #DDDDDD;
  color: inherit;
  cursor: default;
  z-index: 2;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li > a,
.pagination > li > span {
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
  color: inherit;
  float: left;
  line-height: 1;
  margin-left: -1px;
  padding: 16px 22px;
  position: relative;
  text-decoration: none;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  z-index: 2;
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.might-like-section {
  padding: 4%;
  background: #D3D3D3;
}

.might-like-section .might-like-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.might-like-section .might-like-grid .might-like-product {
  border: 1px solid #909090;
  background: #D3D3D3;
  padding: 30px 0 20px;
  text-align: center;
}

.might-like-section .might-like-grid .might-like-product img {
  width: 70%;
  height: 170px;
}

form .half-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

form button[type=submit] {
  border-style: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 1.6;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
}

.form-group input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.wp-wrapper {
  padding: 10%;
}

.wrapper {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.wrapper .input {
  width: 75%;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

.searchbtn {
  background: #ffec00;
  width: 10%;
  border-radius: 5px;
  padding-top: 2%;
}

.searchbtn .fas {
  font-size: 18px;
}

.cart-section {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-gap: 30px;
  margin-left: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.cart-section h2 {
  margin-bottom: 30px;
}

.cart-section .cart-table-row {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.cart-section .cart-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.cart-section .cart-table-row .cart-table-row-left,
.cart-section .cart-table-row .cart-table-row-right {
  display: flex;
  justify-content: space-between;
}

.cart-section .cart-table-row .cart-table-row-left {
  width: 50%;
}

.cart-section .cart-table-row .cart-table-row-right {
  width: 33%;
  padding-top: 10px;
}

.cart-section .cart-table-row .cart-table-img {
  max-height: 75px;
}

.cart-section .cart-table-row .cart-table-actions {
  text-align: right;
  font-size: 14px;
}

.cart-section .cart-table-row .cart-item-details {
  padding-top: 5px;
}

.cart-section .cart-table-row .cart-table-description {
  color: #919191;
}

.cart-section .cart-table-row .cart-options {
  color: #212121;
  background: transparent;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}

.cart-section .cart-table-row .cart-options:hover {
  color: #6e6e6e;
}

.cart-section .cart-totals {
  margin: 4% 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background: #D3D3D3;
}

.cart-section .cart-totals .cart-totals-left {
  width: 50%;
}

.cart-section .cart-totals .cart-totals-right {
  display: flex;
  justify-content: space-between;
  width: 25%;
  text-align: right;
}

.cart-section .cart-totals .cart-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2;
}

.cart-section .cart-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cart-section .have-code {
  display: block;
  margin: 14px 0;
  text-align: right;
}

.cart-section .have-code-container {
  border: 1px solid #919191;
  padding: 16px;
}

.cart-section .have-code-container form {
  display: flex;
  justify-content: space-between;
}

.cart-section .have-code-container input[type=text] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.cart-section .have-code-container input[type=submit] {
  background: white;
  width: 100%;
  margin-top: 1%;
  border: 1px solid #919191;
  padding-top: 8px;
  padding-bottom: 8px;
}

.cart-section .have-code-container input[type=submit]:hover {
  background: #212121;
}

h1.checkout-heading {
  margin-top: 40px;
}

.checkout-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin: 40px auto 80px;
}

.checkout-section .checkout-table-container {
  margin-left: 20%;
}

.checkout-section h2 {
  margin-bottom: 28px;
}

.checkout-section .checkout-table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #919191;
  padding: 14px 0;
}

.checkout-section .checkout-table-row:last-child {
  border-bottom: 1px solid #919191;
}

.checkout-section .checkout-table-row .checkout-table-row-left,
.checkout-section .checkout-table-row .checkout-table-row-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkout-section .checkout-table-row .checkout-table-row-left {
  width: 75%;
}

.checkout-section .checkout-table-row .checkout-table-img {
  max-height: 60px;
}

.checkout-section .checkout-table-row .checkout-table-description {
  color: #919191;
}

.checkout-section .checkout-table-row .checkout-table-price {
  padding-top: 1%;
}

.checkout-section .checkout-table-row .checkout-table-quantity {
  border: 1px solid #919191;
  padding: 4px 12px;
  margin-right: 5px;
}

.checkout-section .checkout-totals {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #919191;
  padding: 18px 0;
  line-height: 2;
}

.checkout-section .checkout-totals .checkout-totals-right {
  text-align: right;
}

.checkout-section .checkout-totals .checkout-totals-total {
  font-weight: bold;
  font-size: 22px;
  line-height: 2.2;
}

/**
* The CSS shown here will not be introduced in the Quickstart guide, but shows
* how you can use CSS to style your Element's container.
*/

.StripeElement {
  box-sizing: border-box;
  padding: 14px 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.thank-you-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1;
}

.thank-you-section h1 {
  margin-bottom: 10px;
}

h1.stylish-heading {
  margin-bottom: 60px;
  position: relative;
}

h1.stylish-heading:before,
h1.stylish-heading:after {
  position: absolute;
  top: -4px;
  left: 0;
  width: 66px;
  height: 1px;
  background: #212121;
  content: "";
  display: block;
}

h1.stylish-heading:after {
  bottom: -14px;
  top: auto;
}

.spacer {
  margin-bottom: 30px;
}

.full-width {
  width: 100%;
}

.text-center {
  text-align: center;
}

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

