/* Large Devices, Wide Screens */

/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
  header .top-nav {
    flex-direction: column;
  }

  header .top-nav .logo {
    margin: auto;
  }

  header .top-nav ul {
    margin: 20px auto 0;
    width: 70%;
    text-align: center;
  }

  header .sub-nav ul {
    margin: auto;
    width: 70%;
    margin-bottom: 20px;
  }

  header .hero {
    grid-template-columns: 1fr;
    text-align: center;
    grid-gap: 20px;
  }

  header .hero h1 {
    margin: auto;
    margin-top: 20%;
  }

  header .hero .searchbar {
    text-align: center;
    margin: auto;
    margin-top: 10%;
    padding-left: 12%;
  }

  header .hero .hero-buttons {
    margin: auto;
    margin-top: 10%;
    padding-right: 10%;
    padding-left: 10%;
  }

  header .hero .hero-image {
    margin-right: 0;
    margin-top: 5%;
  }

  .breadcrumbs {
    text-align: center;
  }

  .products-section {
    grid-template-columns: 1fr;
  }

  .products-section .products {
    grid-template-columns: 1fr;
  }

  .product-section {
    grid-template-columns: 1fr;
  }

  .might-like-section .might-like-grid {
    grid-template-columns: 1fr;
  }

  .cart-section {
    grid-template-columns: 1fr;
  }

  .cart-section .cart-buttons {
    flex-direction: column;
    text-align: center;
  }

  .cart-section .cart-table-row .cart-table-row-left {
    width: 30%;
  }

  .cart-section .cart-table-row .cart-table-row-right {
    width: 55%;
  }

  .cart-section .cart-table-row img {
    display: none;
  }

  .cart-section .have-code-container {
    width: 100%;
  }

  .cart-section .cart-totals {
    flex-direction: column;
  }

  .cart-section .cart-totals .cart-totals-left {
    width: 100%;
    margin-bottom: 20px;
  }

  .cart-section .cart-totals .cart-totals-right {
    width: 100%;
  }

  .checkout-section {
    grid-template-columns: 1fr;
  }

  .checkout-section .checkout-table-container {
    margin-left: 10px;
  }

  .featured-section .products {
    grid-template-columns: 1fr 1fr;
  }

  .hotfav-section .products {
    grid-template-columns: 1fr 1fr;
  }

  .blog-section .blog-posts {
    grid-template-columns: 1fr;
  }

  footer .footer-content {
    flex-direction: column;
  }

  footer .footer-content ul {
    width: 40%;
    margin: 5% auto;
    text-align: center;
    padding: 0;
  }

  footer .footer-content .made-with {
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
  }
}

/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
  header .top-nav {
    flex-direction: column;
  }
}

/* Extra Small Devices, Phones */

/* Custom, iPhone Retina */

