footer {
    background-color: #404040;
    color:#fff;
    .footer-content{
            display: flex;
            justify-content: space-between;
            width: 90%;
            padding-left: 5%;
            padding-top: 2%;
            padding-right: 5%;
            ul{
                    display: flex;
                    justify-content: space-between;
                    width: 25%;
            }
            a{
                    color: white;
            }
            .made-with{
               
                margin-top: 1%;
                
            }
            
        }
}