header{ 
    .top-nav{
    display: flex;
    justify-content: space-between;
    padding-left: 10px ;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    .logo {
        font-size: 20px;
        font-family: 'Montserrat',Arial,sans-serif;
        font-weight: bold;
        color: black;
        padding-left: 15px;
        text-transform: uppercase;
        }
        ul {
            display: flex;
            text-transform: uppercase;
            justify-content: space-between;
            width: 35%;
            padding-right: 5%; 
            padding-top: 0.5%;
            padding-left: 0;
            margin-left: 0;
            a {
                color: #212121;
                font-weight: bold;
                font-size: 15px; 
                &:hover {
                    color: #80000000 ;

                }
    
            }
            
        }
        .cart-count {
            display: inline-block;
            // position: absolute;
            // right: 0;
            // top: -22px;
            // right: -24px;
            background: $cart-count;
            color: $text-color;
            line-height: 0;
            border-radius: 50%;
            font-size: 14px;
  
            span {
              display: inline-block;
              padding-top: 50%;
              padding-bottom: 50%;
              margin-left:6px;
              margin-right:6px;
            }
          }
  

    }
    .sub-nav{
        ul{
            display: flex;
            text-transform: uppercase;
            justify-content: space-between;
            width: 45%;
            padding-right: 5%; 
            margin-left: 0;
            padding-left: 0;
            a {
                color: #212121;
                font-weight: bold;
                font-size: 15px; 
                &:hover {
                    color: darken($color: #212121, $amount: 10%);
                }
    
            }

        }
    }
    .hero {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        padding-top: 20px;
        padding-bottom: 80px;
        background: url('/storage/imgs/3040791.jpg');
        background-size: cover;
            h1{
                margin-top: 20%;
                margin-left: 10%;
                padding-left: 0;
                text-transform: uppercase;
                font-weight: bold;
                font-size: 45px;
            }
            // .searchbar{
            //         margin-bottom: 10%;
            //         margin-left: 10%;
            // }
            // .active-pink input.form-control[type=text] {
            //         border-bottom: 1px solid #f48fb1;
            //         height: 40px;
            //         box-shadow: 0 1px 0 0 #f48fb1;
            // }
            // .active-pink .fa, .active-pink-2 .fa {
            //         color: #f48fb1;
            // }
            // .active-pink input[type=text] {
            //         border-bottom: 1px solid #f48fb1;
            //         box-shadow: 0 1px 0 0 #f48fb1;
            // }

            .hero-buttons{
                    margin-left: 10%;
                    margin-right: 10%;
                    margin-top: 15%;
                    margin-bottom: 15%;
            }
            .hero-image{
                    margin-top: 20%;
                    margin-right: 10%;
            }
            
    }
    .basehero{
        padding-top: 2%;
        padding-bottom: 2%;
        background-color: #D3D3D3;
        display: flex;
        justify-content: space-around;
        // width: 80%;
       
        .join{
            width: 30%;
            // padding: 5%;
            // margin-left: 10%;
            margin-right: 15%;
            vertical-align: middle;
            padding-top: 2%;
        }
        .basetext{
            text-transform: uppercase;
            margin-left: 15%;
            padding-top: 2px;
        }
    }

}
